@keyframes ssh-pet-walk {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -486px;
  }
}

.walk {
  width: 50px;
  height: 54px;
  background-repeat: no-repeat;
  background-size: 50px 486px;
  background-position: 0 0;
  animation: ssh-pet-walk 1.5s steps(9) infinite;
}

.walk.left {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/chiikawa_walk_left.png");
}

.walk.right {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/chiikawa_walk_right.png");
}

@keyframes ssh-pet-fade {
  0% {
    opacity: 1;
    background-position-y: 0;
  }
  100% {
    opacity: 0;
    background-position-y: -1138px;
  }
}

.fade {
  width: 50px;
  height: 54px;
  background-repeat: no-repeat;
  background-size: 50px 1138px;
  background-position: 0 0;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/chiikawa_fade.png");
  animation: ssh-pet-fade 2s steps(21) forwards;
}

@keyframes ssh-pet-smile {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -594px;
  }
}

.rest {
  width: 50px;
  height: 54px;
  background-repeat: no-repeat;
  background-size: 50px 594px;
  background-position: 0 0;
  animation: ssh-pet-smile 2.5s steps(11) infinite;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/chiikawa_smile.png");
}

@keyframes ssh-pet-dance {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -825px;
  }
}

.dance {
  width: 51px;
  height: 55px;
  background-size: 51px 825px;
  background-position: 0 0;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/chiikawa_dance-1.png");
  animation: ssh-pet-dance 3.5s steps(15) infinite;
}

.sing {
  width: 50px;
  height: 54px;
  background-size: 40px 60px;
  background-position: 0 0;
  animation: none;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/chiikawa_rest.png");
}

@keyframes ssh-pet-cry {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -180px; /* Total height of the scaled sprite sheet */
  }
}

.cry {
  width: 50px;
  height: 60px;
  background-size: 50px 180px; /* Width and total height of the scaled sprite sheet */
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: grabbing;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/chiikawa_afraid.png");
  animation: ssh-pet-cry 0.5s steps(3) infinite; /* 3 steps for 3 frames */
}

.fall {
  width: 50px;
  height: 54px;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/chiikawa_rest.png");
  /* Change color to indicate falling */
}

@keyframes ssh-pet-ground {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -459px; /* Total height of the scaled sprite sheet */
  }
}

.ground {
  width: 49px;
  height: 51px;
  background-size: 49px 459px;
  background-position: 0 0;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/chiikawa_ground.png");
  animation: ssh-pet-ground 2s steps(9) infinite;
}

.background-item {
  position: fixed;
  z-index: 999; /* Ensure it's below the pet */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.chiikawa_bag {
  width: 50px;
  height: 33.75px;
  left: 0px;
  bottom: 0px;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/chiikawa_bag.png");
}

.chiikawa_weapon {
  width: 32.5px;
  height: 62.5px;
  right: 0px;
  bottom: 0px;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/chiikawa_weapon.png");
}

.chiikawa_camera {
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0px;
  top: 35%;
}

.camera {
  position: relative;
  left: 15%;
  bottom: -2px;
  cursor: pointer;
  width: 40px;
  height: 30px;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/chiikawa_camera.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

@keyframes cameraBlink {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  35% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.blink {
  position: absolute;
  left: 10px;
  top: 5px;
  width: 12px;
  height: 12px;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/camera_blink.png");
  background-size: contain;
  background-repeat: no-repeat;
  animation: cameraBlink 1s cubic-bezier(0.5, 0, 0.5, 1) forwards;
}

.rack {
  position: relative;
  left: 25%;
  width: 80px;
  height: 23px;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/chiikawa_rack.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
