.img {
  width: 200px;
  aspect-ratio: 3/1;
  background-image: url(./images/chiikawa_3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* General button styles */
button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

/* Hover effect */
button:hover {
  background-color: #45a049; /* Darker green on hover */
  transform: scale(1.05); /* Slightly enlarge the button */
}

.switch {
  position: relative;
  margin-top: 20px;
}

.switch label {
  width: 48px;
  height: 20px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  border: 1px solid #6262626e;
}

.switch input[type="checkbox"] {
  visibility: hidden;
}

.switch label:after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50px;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 100ms;
  background-color: rgb(239, 193, 214);
}

.switch .toggle-btn.active + label:after {
  left: 30px;
}

.switch .toggle-btn.active + label {
  background-color: rgb(255, 159, 159);
}

.volume-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: 14px 0;
}

.volume-label {
  font-size: 14px;
  font-weight: 500;
}

.volume-input {
  -webkit-appearance: none;
  appearance: none;
  width: 65%;
  height: 5px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
}

.volume-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffafee;
  cursor: pointer;
}

.volume-input::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffafee;
  cursor: pointer;
}
